body {
  font-family: Arial, sans-serif;
}

#visualization .legend-container {
  position: absolute !important;
  right: 20px !important;
  top: 20px !important;
  width: 150px !important;
  max-height: 80% !important;
  overflow-y: auto !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 10px !important;
  color: white !important;
  z-index: 1000 !important;
}


.legend-item {
  margin-bottom: 5px;
}


#visualization {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;
}

text {
  font-size: 24px;
  fill: #333;
}

.line {
  stroke-width: 2px;
}

.country-line { 
  fill: none; 
  stroke-width: 2px; 
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.selection {
  stroke: none;
  fill: #3FB8AF;
  fill-opacity: 0.4;
}

.handle {
  fill: #3FB8AF;
  stroke: #2C3E50;
  stroke-width: 1px;
}

